doctype html
html(lang=app.lang)
  head
    meta(charset='utf-8')
    title= title || app.title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href=app.paths.globalStatic + '/css/site.css')
    if app.useStylFile
      link(rel='stylesheet', href=app.paths.style)
    block head

  body
    header
      h1
        a(href=app.rootHref)= title || app.title

    block content

    footer
      p.text-center
        if app.lang === 'ro'
          | Creat de <a href='http://nechifor.net'>Paul Nechifor</a>.
        else
          | Created by <a href='http://nechifor.net'>Paul Nechifor</a>.

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    block scripts
    if app.useClientFile
      script(src=app.paths.client)
    if app.analyticsCode
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','#{app.analyticsCode}','auto');ga('send','pageview');
